input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(55,224,71);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(55,224,71);
  border-radius    : 0.125em;
  background       : rgb(55,224,71)
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
#jbox {color:white; border:1px solid grey; background-color:#37e047; border-style:hidden; border-bottom-left-radius:30px; border-bottom-right-radius:30px;}
#clock{  font-size: 50px;font-family: 'Orbitron',sans-serif; font-weight: bold; text-align:center; color:#37e047; margin-top:50px;}
#clock1{font-size:20px;font-family: 'Orbitron',sans-serif; font-weight: bold; text-align:center; color:#37e047; margin-top:10px;}
#i1{ border:1px solid grey; background-color:white; border-style:hidden; border-radius:30px; box-shadow:0px 0px 30px #37e047;}
#i2{ border:1px solid grey; background-color:white; border-style:hidden; border-radius:50%; box-shadow:0px 0px 30px #37e047; width:50%; height:50%;margin:auto;}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
   border-radius:50%;
   background: #37e047;
    color: white;
border: 1px solid white;
}

/* Add a hover effect if you want */
.fa:hover, #ps.hover {
    opacity: 0.7;
    
   background: white;
    color:#37e047;
	border: 1px solid #37e047;
	text-decoration: none;
}

